* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}

.box {
    position: relative;
    width: 600px;
    height: 350px;
    line-height: 350px;
    background: #111111;
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.box::before,
.box::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -3px;
    left: -3px;
    background: linear-gradient(45deg,
    #fc0090, #0000ff, #00ff00, #ff0000, #ffff00,
    #fc0090, #0000ff, #00ff00, #ff0000, #ffff00
    );
    background-size: 300%;
    animation: border 20s linear infinite;
}

.box::after {
    filter: blur(30px);
}

@keyframes border {

    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 300%;
    }
    
}